<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
	<meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
<meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">

</head>

<th:block layout:fragment="css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  <style>
  	.menubar {
  		background-color: rgb(229, 229, 229);
    	height: 70px;
    	text-align: left;
    	display: flex;
  	}
  	
  	.menubar-text {
  		align-items: center;
    	display: flex;
    	padding-left: 30px;
    	font-size: 14px;
  	}
  	
  	.priceText {
  		font-size: 40px;
  	}
  	
  	.price-menu {
  		background-color: rgb(229, 229, 229);
  		padding: 0 130px;
	    text-align: center;
	    justify-content: space-between;
	    font-size: 14px;
	    display: flex;
  	}
  	
  	.price-content {
  		display: flex;
	    height: 100px;
	    justify-content: space-between;
	    padding: 0 110px;
	    align-items: center;
  	}
  			input[type='number']::-webkit-inner-spin-button,
		input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	  }
	  
	  		.kakao-btn {
				width: 303.16px;
			    height: 51px;
			    background: #FFEB00;
			    border-radius: 5px;
			    display: flex;
			    padding-top: 15px;
			    justify-content: end;
			    background-repeat: no-repeat;
			    background-image: url(/img/kakaoPayCI.svg);
			    background-size: 100px;
			    background-position: 10px;
		}
		
		.kakao-text {
			width: 194px;
			height: 24.48px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			}
			
					#shoppingCart {
				margin-bottom:40px;
			}
		
  </style>
  	
  
</th:block>

<div layout:fragment="content">
	<section class="pt-5 pb-5">

  <div class="container">
  <h3 class="display-5 mb-2 text-center">주문상품</h3>
	            <table id="shoppingCart" class="table table-condensed table-responsive" style="">
                <thead>
                    <tr style="min-width: 1080px;">
                    	<th style="width:10%">
                    	</th>
                        <th style="width:60%">상품이름</th>
                        <th style="width:15%">수량</th>
                        <th style="width:17%">가격</th>
                        <th style="width:15%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="orderItem, index: ${selectedItems}" th:data-index="${index}">
                    <td>
                    <input id="itemIndex" type="hidden" th:value="${index.size}">
                    <input class="orderItemId" type="hidden" th:value="${orderItem.id}">
                    </td>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <img th:src="${orderItem.imgUrl}" th:alt="${orderItem.itemNm}" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>
                                <div class="col-md-9 text-left mt-sm-2" style="display:flex;">
                                    <h4 id="itemName" th:text="${orderItem.itemNm}"></h4>

                                </div>
                            </div>
                        </td>
                       
                  
                        <td data-th="Quantity">
							<span style="border: none;" th:text="${orderItem.count}"></span>
                        </td>
                        <td data-th="Price"><span th:text="${orderItem.price} * ${orderItem.count}">0</span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="display-5 mb-2 text-center">배송지 입력</h3>
        </div>
    </div>
    <div style=" margin-bottom: 50px; border: 1px solid #a3a3a3">
    	<div class="menubar" >
			<span class="menubar-text">받는사람 정보</span>
    	</div>
    	<div style="height: 400px;">
    		  <div class="mb-3" style="width: 600px; margin: 30px auto;">
			    <label for="orderInfoName" class="form-label" style="font-size: 16px; color: black;">이름</label>
			    <input type="text" class="form-control" id="orderInfoName" aria-describedby="emailHelp">
			  </div>
    		  <div class="mb-3" style="width: 600px; margin: 30px auto;">
			    <label for="orderInfoAddress" class="form-label" style="font-size: 16px; color: black;">주소</label>
			<div>
				<div class="input-group mb-3">
				  <input type="text" id="sample6_postcode" class="form-control" placeholder="우편번호" aria-label="Recipient's username" aria-describedby="button-addon2"
				  style="margin-right: 20px; border-radius: 5px;">
				  <button class="btn btn-outline-secondary" onclick="sample6_execDaumPostcode()" type="button" id="button-addon2">우편번호 찾기</button>
				</div>
					<input type="text" id="sample6_address" class="form-control" aria-describedby="emailHelp" placeholder="주소" style="margin-bottom:17px;">		
				<div class="row">
			  <div class="col">
			    <input type="text" id="sample6_detailAddress" class="form-control" placeholder="상세주소" aria-label="First name">
			  </div>
			  <div class="col">
			    <input type="text" id="sample6_extraAddress" class="form-control" placeholder="참고항목" aria-label="Last name">
			  </div>
			</div>	
			</div>
			  </div>
    		  <div class="mb-3" style="width: 600px; margin: 30px auto;">
			    <label for="orderInfoPhone" class="form-label" style="font-size: 16px; color: black;">전화번호</label>
			    <input type="text" placeholder="번호는 - 를 제외하고 입력해주세요" class="form-control" id="orderInfoPhone" aria-describedby="emailHelp">
			  </div>
    	</div>
    </div>
        <div style=" border: 1px solid #a3a3a3">
    	<div class="price-menu" style="height:70px;">
			<span class="menubar-text">주문 금액</span>
			<span class="menubar-text">할인 + 부가결제금액</span>
			<span class="menubar-text">총 결제 금액</span>
    	</div>
    	<div class="price-content">
	            <span id="totalPrice" class="priceText" th:text="${totalPrice}"></span>
	            <span class="priceText"> -0 </span>
	            <span class="priceText" th:text="${'=' + totalPrice}"></span>
    	</div>
  <input type="text" id="parent">
    </div>
    <button id="apibtn" style="display: flex; margin: 20px auto; border: none;" >
	<div class="kakao-btn" style="margin: 0 auto;">
		<span class="kakao-text">카카오페이로 결제</span>
    </div>
</button>
  </div>
    </section>  
      
</div>

<th:block layout:fragment="script">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    function receiveDataFromChild(data) {
        // 받은 데이터를 처리하거나 원하는 대로 활용
        $("#parent").val(data); // 데이터를 부모 창의 input에 설정
    }
	$("#apibtn").click(function(){
		var address1 = document.getElementById("sample6_address").value;
		var address2 = document.getElementById("sample6_detailAddress").value;
		var address3 = document.getElementById("sample6_extraAddress").value;
		
		var itemIndex = document.getElementById("itemIndex").value;
		var itemName = document.getElementById("itemName").textContent;
		var totalPrice = document.getElementById("totalPrice").textContent;
		var orderName = document.getElementById("orderInfoName").value;
		var zipCode = document.getElementById("sample6_postcode").value;
		var orderAddress = address1 + address2 + address3;
		var phoneNumber = document.getElementById("orderInfoPhone").value;
		
		
	    // orderItemId 값들을 저장할 배열 생성
	    var orderItemIds = [];

	    // orderItemId 클래스를 가진 숨겨진 input 엘리먼트들을 선택해서 값을 배열에 추가
	    var inputElements = document.querySelectorAll('.orderItemId');
	    inputElements.forEach(function(input) {
	        orderItemIds.push(input.value);
	    });
	    
	    alert(orderItemIds);
	    var data = {
	    		orderItemIds : orderItemIds,
	    		itemName : itemName + "외 " + (itemIndex - 1) + "개",
	    		totalPrice : totalPrice,
	    		orderName : orderName,
	    		zipCode : zipCode,
	    		orderAddress : orderAddress,
	    		phoneNumber : phoneNumber
	        };
		
		$.ajax({
		    type: 'GET',
		    url: '/pay/ready',
		    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
		    data: data,
			success:function(res){
	            var box = res.next_redirect_pc_url;
	            var popupWidth = 500;
	            var popupHeight = 800;
	            var left = (screen.width - popupWidth) / 2;
	            var top = (screen.height - popupHeight) / 2;
	            var popupOptions = "width=" + popupWidth + ",height=" + popupHeight + ",top=" + top + ",left=" + left;
	            window.open(box, "KakaoPay", popupOptions);
				
				
			}
		})
	});
	
    function handleChildData(payNumber) {

    	
		var address1 = document.getElementById("sample6_address").value;
		var address2 = document.getElementById("sample6_detailAddress").value;
		var address3 = document.getElementById("sample6_extraAddress").value;
		
		var itemId = document.getElementById("orderItemId").value;
		var itemIndex = document.getElementById("itemIndex").value;
		var totalPrice = document.getElementById("totalPrice").textContent;
		var orderName = document.getElementById("orderInfoName").value;
		var zipCode = document.getElementById("sample6_postcode").value;
		var orderAddress = address1 + address2 + address3;
		var phoneNumber = document.getElementById("orderInfoPhone").value;
    	
		// orderItem ID들을 저장할 배열을 생성
		var orderItemIds = [];

		// input 엘리먼트들을 선택해서 순회하며 값을 배열에 추가
		var inputElements = document.querySelectorAll('input[id^="orderItemId"]');
		inputElements.forEach(function(input) {
		    orderItemIds.push(input.value);
		});

		
	    var payData = {
	    		orderItemIds : orderItemIds,
	    		totalPrice : totalPrice,
	    		orderName : orderName,
	    		zipCode : zipCode,
	    		orderAddress : orderAddress,
	    		phoneNumber : phoneNumber
	        };
		
        alert('부모 창에서 이벤트 발생: ' + payNumber);
        
		var token = $("meta[name='_csrf']").attr("content"); // meta태그에서 값이 _csrf인 값을 가져오겠다~
		var header = $("meta[name='_csrf_header']").attr("content");
        
		$.ajax({
			url : '/order/success',
			type : "POST", // 전송방식 
			contentType : "application/json",
			data : JSON.stringify(payData), // 서버에 전송할 데이터 var param = JSON.stringify(paramData); item_id, 수량 들어있음
			beforeSend : function(xhr) {
				// 데이터를 전송하기 전에 헤더에 csrf 값을 설정해줌
				xhr.setRequestHeader(header, token);
			},
			dataType : "json",
			cache : false,
			success : function(responseData, response) {
				alert(responseData);
				
                location.href = '/order/info/' + payNumber;
		
			},
			error : function(jqXHR, status, error) {
				if (jqXHR.status == '401') {
					alert('로그인 후 이용해 주세요.')
					location.href = '/members/login';
				} else {
					
					// 에러메세지 출력(ResponseEntity에서 받아온 값을 출력해준다.)
					alert("안돼")
					alert(jqXHR.responseText); 
				}
				
			}
		});
    }
 	
 	
</script>


</th:block>
</html>