<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
	<meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
<meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
</head>

<th:block layout:fragment="css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  <style>
  	.menubar {
  		background-color: rgb(229, 229, 229);
    	height: 70px;
    	text-align: left;
    	display: flex;
  	}
  	
  	.menubar-text {
  		align-items: center;
    	display: flex;
    	padding-left: 30px;
    	font-size: 14px;
  	}
  	
  	.priceText {
  		font-size: 40px;
  	}
  	
  	.price-menu {
  		background-color: rgb(229, 229, 229);
  		padding: 0 130px;
	    text-align: center;
	    justify-content: space-between;
	    font-size: 14px;
	    display: flex;
  	}
  	
  	.price-content {
  		display: flex;
	    height: 100px;
	    justify-content: space-between;
	    padding: 0 110px;
	    align-items: center;
  	}
  			input[type='number']::-webkit-inner-spin-button,
		input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	  }
	  
	  		.kakao-btn {
				width: 303.16px;
			    height: 51px;
			    background: #FFEB00;
			    border-radius: 5px;
			    display: flex;
			    padding-top: 15px;
			    justify-content: end;
			    background-repeat: no-repeat;
			    background-image: url(/img/kakaoPayCI.svg);
			    background-size: 100px;
			    background-position: 10px;
		}
		
		.kakao-text {
			width: 194px;
			height: 24.48px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			}
			
					#shoppingCart {
				margin-bottom:40px;
			}
		
  </style>
  	
  
</th:block>

<div layout:fragment="content">
	<section class="pt-5 pb-5">

  <div class="container">
  <h3 class="display-5 mb-2 text-center">주문상품</h3>
	            <table id="shoppingCart" class="table table-condensed table-responsive" style="">
                <thead>
                    <tr style="min-width: 1080px;">
                    	<th style="width:10%">
                    	</th>
                        <th style="width:60%">상품이름</th>
                        <th style="width:15%">수량</th>
                        <th style="width:17%">가격</th>
                        <th style="width:15%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="orderItem, index: ${selectedItems}">
                    <td>
                    </td>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <img th:src="${imgsArray[imgsArray.length - 1 - index.index]}" th:alt="${orderItem.itemNm}" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>
                                <div class="col-md-9 text-left mt-sm-2" style="display:flex;">
                                    <h4 th:text="${orderItem.itemNm}"></h4>

                                </div>
                            </div>
                        </td>
                       
                  
                        <td data-th="Quantity">
							<span style="border: none;" th:text="${orderItem.count}"></span>
                        </td>
                        <td data-th="Price"><span th:text="${orderItem.price} * ${orderItem.count}">0</span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="display-5 mb-2 text-center">배송지 입력</h3>
        </div>
    </div>
    <div style=" margin-bottom: 50px; border: 1px solid #a3a3a3">
    	<div class="menubar" >
			<span class="menubar-text">받는사람 정보</span>
    	</div>
    	<div style="height: 400px;">
    		  <div class="mb-3" style="width: 600px; margin: 30px auto;">
			    <label for="orderInfoName" class="form-label" style="font-size: 16px; color: black;">이름</label>
			    <input type="text" class="form-control" id="orderInfoName" aria-describedby="emailHelp">
			  </div>
    		  <div class="mb-3" style="width: 600px; margin: 30px auto;">
			    <label for="orderInfoAddress" class="form-label" style="font-size: 16px; color: black;">주소</label>
			<div>
				<div class="input-group mb-3">
				  <input type="text" id="sample6_postcode" class="form-control" placeholder="우편번호" aria-label="Recipient's username" aria-describedby="button-addon2"
				  style="margin-right: 20px; border-radius: 5px;">
				  <button class="btn btn-outline-secondary" onclick="sample6_execDaumPostcode()" type="button" id="button-addon2">우편번호 찾기</button>
				</div>
					<input type="text" id="sample6_address" class="form-control" aria-describedby="emailHelp" placeholder="주소" style="margin-bottom:17px;">		
				<div class="row">
			  <div class="col">
			    <input type="text" id="sample6_detailAddress" class="form-control" placeholder="상세주소" aria-label="First name">
			  </div>
			  <div class="col">
			    <input type="text" id="sample6_extraAddress" class="form-control" placeholder="참고항목" aria-label="Last name">
			  </div>
			</div>	
			</div>
			  </div>
    		  <div class="mb-3" style="width: 600px; margin: 30px auto;">
			    <label for="orderInfoPhone" class="form-label" style="font-size: 16px; color: black;">전화번호</label>
			    <input type="text" placeholder="번호는 - 를 제외하고 입력해주세요" class="form-control" id="orderInfoPhone" aria-describedby="emailHelp">
			  </div>
    	</div>
    </div>
        <div style=" border: 1px solid #a3a3a3">
    	<div class="price-menu" style="height:70px;">
			<span class="menubar-text">주문 금액</span>
			<span class="menubar-text">할인 + 부가결제금액</span>
			<span class="menubar-text">총 결제 금액</span>
    	</div>
    	<div class="price-content">
	            <span id="" class="priceText" th:text="${totalPrice}"></span>
	            <span class="priceText"> -0 </span>
	            <span class="priceText" th:text="${'=' + totalPrice}"></span>
    	</div>
    </div>
    <button th:value="${totalPrice}" id="apibtn" style="display: flex; margin: 20px auto; border: none;" onclick="kakaoPay(this.value)">
	<div class="kakao-btn" style="margin: 0 auto;">
		<span class="kakao-text">카카오페이로 결제</span>
    </div>
</button>
  </div>
    </section>  
      
</div>

<th:block layout:fragment="script">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    
 	// 카카오결제
	function kakaoPay(){
    		var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content");
    		var totalPrice= document.getElementById("apibtn").value;
			
			$.ajax({
		        url: '/kakao/' + totalPrice,
		        dataType: 'json',
		        beforeSend: function(xhr) {
		            //데이터를 전송하기 전에 헤더에 xsrf값
		            xhr.setRequestHeader(header, token);
		        },
		        method: 'POST',
		        contentType: 'application/json', // 데이터 형식 지정
		        data: JSON.stringify({ totalPrice: totalPrice }),
		        success: function(data) {
		            var box = data.next_redirect_pc_url;
		            var popupWidth = 500;
		            var popupHeight = 800;
		            var left = (screen.width - popupWidth) / 2;
		            var top = (screen.height - popupHeight) / 2;
		            var popupOptions = "width=" + popupWidth + ",height=" + popupHeight + ",top=" + top + ",left=" + left;
		            window.open(box, "KakaoPay", popupOptions);

		            
		            
		            
		            kakaoPaySuccess();
		        },
		        error: function(xhr, status, error) {
		            var responseText = xhr.responseText;
		            var responseJSON = xhr.responseJSON;
		            alert("에러가 발생했습니다.\n" +
		                  "Status: " + status + "\n" +
		                  "Error: " + error + "\n" +
		                  "Response Text: " + responseText + "\n" +
		                  "Response JSON: " + JSON.stringify(responseJSON));
		        }
		    });
	};
	
	// 카카오 결제 성공 시 처리
	function kakaoPaySuccess() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		var totalPrice= document.getElementById("apibtn").value;
	    // 카카오 결제 성공 처리 로직
		// 현재 페이지의 URL을 가져옵니다.
		var currentUrl = window.location.href;
		
		// URL에서 쿼리 스트링 부분을 가져옵니다.
		var queryString = currentUrl.split('?')[1];
		
		// URL에서 쿼리 스트링을 파싱하여 파라미터들을 추출합니다.
		var urlParams = new URLSearchParams(queryString);
		
		// KakaoPay 서버에서 전달한 데이터의 예시 파라미터를 가져옵니다.
		var resultValue = urlParams.get('result'); // 예시: result 파라미터
		var paymentId = urlParams.get('payment_id'); // 예시: payment_id 파라미터
		var orderId = urlParams.get('order_id'); // 예시: order_id 파라미터
		
		// 가져온 데이터를 출력하거나 필요한 작업을 수행합니다.
		console.log('Result Value:', resultValue);
		console.log('Payment ID:', paymentId);
		console.log('Order ID:', orderId);
	    // 서버로 입력한 정보를 전송하여 데이터베이스에 저장
	    var orderInfoName = document.getElementById("orderInfoName").value;
	    var orderInfoAddress = document.getElementById("sample6_address").value;
	    var orderInfoPhone = document.getElementById("orderInfoPhone").value;
	    var zipCode = document.getElementById("sample6_postcode").value;

		
		
	    var userData = {
	    	orderInfoName: orderInfoName,
	        orderInfoAddress: orderInfoAddress,
	        orderInfoPhone: orderInfoPhone,
	        zipCode : zipCode
	    };

	    var jsonUserData = JSON.stringify(userData);

	    $.ajax({
	        url: '/saveUserDataAndOrder', // 적절한 엔드포인트 설정
	        beforeSend: function(xhr) {
	            //데이터를 전송하기 전에 헤더에 xsrf값
	            xhr.setRequestHeader(header, token);
	        },
	        method: 'POST',
	        contentType: 'application/json',
	        data: jsonUserData,
	        success: function(response) {
	            // 성공 시 실행할 코드
	        },
	        error: function(xhr, status, error) {
	            // 에러 처리
	        }
	    });
	}
	
 	
</script>


</th:block>
</html>