<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
	<meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
<meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">


</head>

<th:block layout:fragment="css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
  
	<style>
		input[type='number']::-webkit-inner-spin-button,
		  input[type='number']::-webkit-outer-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
	  }
	</style>
</th:block>

<div layout:fragment="content">
  <section class="pt-5 pb-5">
  <div class="container">
    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12"  >
            <h3 class="display-5 mb-2 text-center">장바구니</h3>
            <p class="mb-5 text-center">
                <i class="text-info font-weight-bold" th:text="${carts.getContent().size()}" ></i>개의 상품이 들어있습니다.</p>
            <table id="shoppingCart" class="table table-condensed table-responsive" >
                <thead>
                    <tr style="min-width: 1080px;">
                        <th style="width:60%">상품이름</th>
                        <th style="width:12%">가격</th>
                        <th style="width:10%">수량</th>
                        <th style="width:16%"></th>
                    </tr>
                </thead>
                <tbody th:each="cart, cartIndex : ${carts.getContent()}">
                    <tr th:each = "item, itemIndex: ${cart.cartItemDtoList}">
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <img th:src="${item.imgUrl}" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>
                                <div class="col-md-9 text-left mt-sm-2">
                                    <h4 th:text="${item.itemNm}"></h4>
                                    <div class="checkbox">
									  <label><input type="checkbox" value="check1"/> Check Opt 1 </label>
									</div>
                                </div>
                            </div>
                        </td>
                  
                        <td data-th="Price"><span th:id="'totalPrice-' + ${itemIndex.index}" th:text="${item.price * item.count}">0</span></td>
                        <td data-th="Quantity">
							<input type="number" min="1" class="form-control form-control-lg text-center" th:value="${item.count}" th:onkeyup="'updateTotalPrice(' + ${itemIndex.index} + ')'">
                        </td>
                        <td class="actions" data-th="">
                            <div class="text-right">
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                    <i class="fas fa-sync"></i>
                                </button>
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="float-right text-right">
                <h4>총 가격:</h4>
                <h1>가격</h1>
            </div>
        </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
        <div class="col-sm-6 order-md-2 text-right">
            <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
        </div>
        <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
            <a href="catalog.html">
                <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
        </div>
    </div>
</div>
</section>

    <button id="apibtn">카카오페이로 결제하기</button>


	
</div>

<th:block layout:fragment="script">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<script th:inline="javascript">
    /* 상품 가격 계산 및 출력 함수 */
    function updateTotalPrice(itemIndex) {
        var totalPriceElementId = 'totalPrice-' + itemIndex;
        var totalPriceElement = document.getElementById(totalPriceElementId);
        var price = [[${item.price}]];
        var count = [[${item.count}]];
        var totalPrice = price * count;
        totalPriceElement.innerText = totalPrice;
    }
    
    
</script>
	
	
	<script>
	
	
 	// 카카오결제
	$(function(){
		$('#apibtn').click(function(){
			$.ajax({
				url:'/kakao' ,
				dataType:'json' ,
				success:function(data){
	                var box = data.next_redirect_pc_url;
	                var popupWidth = 500; // 팝업 창 가로 크기
	                var popupHeight = 800; // 팝업 창 세로 크기
	                var left = (screen.width - popupWidth) / 2;
	                var top = (screen.height - popupHeight) / 2;

	                var popupOptions = "width=" + popupWidth + ",height=" + popupHeight + ",top=" + top + ",left=" + left;
	                window.open(box, "KakaoPay", popupOptions);
				} ,
				error:function(error){
					alert(error);
				}
			})
		})
	});

</script>
</th:block>

</html>