<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content">

<div class="container">

<div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../img/member.png"
              class="img-fluid rounded-start"
              alt="회원관리 아이콘"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">회원관리</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../img/ask.png"
              class="img-fluid rounded-start"
              alt="문의사항 아이콘"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">문의사항 관리</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../img/recommend.png"
              class="img-fluid rounded-start"
              alt="추천관광지"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">추천관광지 관리</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../img/info.png"
              class="img-fluid rounded-start"
              alt="공지사항 아이콘"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">공지사항 관리</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../img/shopping.png"
              class="img-fluid rounded-start"
              alt="쇼핑몰 아이콘"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">쇼핑몰 관리</h5>
            </div>
          </div>
        </div>
      </div>

</div>

</div>

</html>