<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<style>
.card {
	margin: 0 auto;
	margin-bottom: 30px !important;
	
}
.box-hover {
 cursor: pointer; /* 예시: 마우스 커서를 손모양으로 변경 */

}	
	
</style>
</th:block>

<div layout:fragment="content">
	<div
		style="background-color: black; height: 70px; width: 100%; display: flex;">
		<h4 style="margin: auto; color: white; font-size: 26px;">관리자 페이지</h4>
	</div>

	<div class="container" style="padding: 100px 250px 100px;">

		<div class="card mb-3 box-hover" style="max-width: 540px" onclick="location.href ='/admin/list'">
			<div class="row g-0" >
				<div class="col-md-4">
					<img src="../img/group.png"  width="120px" height="80px" class="img-fluid rounded-start" 
					style="margin:20px"
						alt="회원관리" />
				</div>
				<div class="col-md-8"
					style="display: flex; justify-content: center; align-items: center;">
					<div class="card-body" style="text-align: center;">
						<h5 class="card-title"
							style="font-size: xx-large; font-weight: bold;">회원 관리</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3 box-hover" style="max-width: 540px" onclick="location.href ='/adminAsk/asks'">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="../img/asking.png" width="120px" height="80px" style="margin:20px" class="img-fluid rounded-start"
						alt="문의사항 아이콘" />
				</div>
				<div class="col-md-8"
					style="display: flex; justify-content: center; align-items: center;">
					<div class="card-body" style="text-align: center;">
						<h5 class="card-title"
							style="font-size: xx-large; font-weight: bold;">문의사항 관리</h5>
					</div>
				</div>
			</div>
		</div>


		<div class="card mb-3 box-hover" style="max-width: 540px">
			<div class="row g-0">
				<div class="col-md-4">
					<a href="/adminTour/tours">
						<img src="../img/quality.png" width="120px" height="80px" style="margin:20px" class="img-fluid rounded-start"
							alt="추천관광지" />
					</a>
				</div>
				<div class="col-md-8"
					style="display: flex; justify-content: center; align-items: center;">
					<div class="card-body" style="text-align: center;">
						<h5 class="card-title"
							style="font-size: xx-large; font-weight: bold;">추천관광지 관리</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 box-hover" style="max-width: 540px">
			<div class="row g-0">
				<div class="col-md-4">
					<a href="/adminInfo"> <img src="../img/board.png" width="120px" height="80px" style="margin:20px" class="img-fluid rounded-start"
						alt="공지사항 아이콘" />
						</a>
				</div>
				<div class="col-md-8"
					style="display: flex; justify-content: center; align-items: center;">
					<div class="card-body" style="text-align: center;">
						<h5 class="card-title"
							style="font-size: xx-large; font-weight: bold;">공지사항 관리</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="card mb-3 box-hover" style="max-width: 540px">
			<div class="row g-0">
				<div class="col-md-4">
					<a href="/adminShop"> <img src="../img/shopping-cart.png"  width="120px" height="80px" style="margin:20px"
						class="img-fluid rounded-start" alt="쇼핑몰 아이콘" />
					</a>
				</div>
				<div class="col-md-8"
					style="display: flex; justify-content: center; align-items: center;">
					<div class="card-body" style="text-align: center;">
						<h5 class="card-title"
							style="font-size: xx-large; font-weight: bold;">쇼핑몰 관리</h5>
					</div>
				</div>
			</div>
		</div>
		
		



	</div>

</div>

</html>