<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<style>
.item-cover {
	width: 100%;
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("/img/tower.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 50px;
	background-position: center;
	display: flex;
}

.cover-text {
	font-size: 40px;
	text-decoration: underline;
	margin: auto;
	text-underline-position: under;
	color: white;
	font-weight: 600;
	letter-spacing: 5px;
	text-decoration-thickness: 5px; . image-container { display : flex;
	gap: 10px;
}

.newbtn {
	display: inline-block;
	margin-right: 10px;
}

.image-row {
	white-space: nowrap;
	overflow-x: auto;
}
</style>
</th:block>

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content">

	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-0"></div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<input type="hidden" id="askBoardId" th:value="${ask.id}"> <input
				type="hidden" th:value="${ask.askTitle}" id="askTitle"
				name="askTitle"> <strong th:text="${ask.askTitle}"
				style="font-size: larger; padding-bottom: 20px; margin-top: 50px;"></strong>

			<div class="card" style="width: 1140px; margin-bottom: 20px">
				<div class="card-body">
					<input type="hidden" th:value="${ask.askContent}" id="askContent"
						name="askContent"> <strong th:text="${ask.askContent}"></strong>
				</div>
			</div>

			<div class="col-md-12">
				<div th:each="askImg : ${ask.askImgDtoList}" class="text-center">
					<img th:if="${not #strings.isEmpty(askImg.imgUrl)}"
						th:src="${askImg.imgUrl}" class="rounded mgb-15" width="500px"
						style="margin: 20px 0">
				</div>
			</div>



			<!-- 관리자 답변 표시 -->
			
<div class="row" th:if="${askResponse != null}">
<p>답변보기</p>
    <input type="hidden" id="askResponseBoardId"
        th:value="${askResponse.id}">
    <div class="card" style="margin-bottom: 20px; width: 1140px">
        <div class="card-body">
            <strong th:text="${askResponse.askResponseTitle}"></strong> <strong
                th:text="${askResponse.askResponseContent}"></strong>
        </div>
    </div>
</div>




			<div class="d-flex justify-content-center">
				<a th:href="'/ask/' + ${ask.id}">
					<button type="button" class="btn btn-primary mb-3"
						style="width: 150px; background-color: #FF6168; border: none; margin-left: 350px;"
						sec:authorize="hasAnyAuthority('ROLE_USER')">수정하기</button>
				</a> <a href="/adminAsk/asks">
					<button type="button" class="btn btn-primary mb-3"
						style="width: 150px; background-color: #FF6168; border: none; margin-left: 120px;">
						목록 보기</button>
				</a> <a th:href="@{'/response/' + ${ask.id}}">
					<button type="button" class="btn btn-primary mb-3"
						style="width: 150px; background-color: #FF6168; border: none; margin-left: 120px;"
						sec:authorize="hasAnyAuthority('ROLE_ADMIN')">답변 달기</button>
				</a> <a href="'/ask/response/' +  ${askResponse.id}">
					<button type="button" class="btn btn-primary mb-3"
						style="width: 150px; background-color: #FF6168; border: none; margin-left: 120px;"
						sec:authorize="hasAnyAuthority('ROLE_ADMIN')">답변 수정</button>
				</a>
				<button type="button" class="btn btn-primary mb-3"
					style="width: 150px; background-color: #FF6168; border: none; margin-left: 120px;"
					sec:authorize="hasAnyAuthority('ROLE_ADMIN')">답변 삭제</button>
			</div>

		</div>
	</div>
</div>



<th:block layout:fragment="script">
	<script th:inline="javascript">
		function deleteAskResponse(askResponseBoardId) {
			const deleteConf = confirm("삭제하시겠습니까?");
			if (!deleteConf)
				return; //취소버튼 누르면

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			// header 변수의 값 확인
			console.log("Header:", header);

			if (header === undefined) {
				console.error("Header is undefined.");
				return;
			}

			var url = "/askResponse/" + askResponseBoardId + "/delete";

			$.ajax({
				url : url, //request url
				type : "DELETE", //전송방식
				contentType : "application/json",
				beforeSend : function(xhr) {
					//데이터 전송 전에 헤더에  csrf값을 설정. 
					xhr.setRequestHeader(header, token);

				},
				dataType : "json",
				cache : false,
				success : function(result, status) {
					location.href = '/';

				},
				error : function(jqXHR, status, error) {
					if (jqXHR.status == '401') {
						alert('로그인 후 이용해주세요.');
						location.href = '/member/memberLoginForm';
					} else {
						alert(jqXHR.responseText);
					}
				}
			});
		}
	</script>
</th:block>
</html>