<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
<style>

 th {
        text-align: center;
      }
</style>
</th:block>

<head>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content" style="height:1000px; margin-top:70px;">

<div class="container">

		<div class="row">
		
			<div class="col-md-12">
				<div
					style="display: flex; justify-content: space-between; align-items: center;">
					<h2 class="h3 mb-3 text-black">공지사항</h2>
					<a href="/adminInfo/new" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
					<button style="width: 120px; background-color: #FF6168; border:none; color: white; height:35px; border-radius:5px;">
						등록하기
					</button>
					</a>
				</div>
				<form th:action="@{'/adminInfo/' + ${infos.number}}" method="get"
					th:object="${infos}">
					<table class="table table-responsive-md">
						<thead>
							<tr>
								<th scope="col" style="width: 10%">NO.</th>
								<th scope="col" style="width: 70%">제목</th>
								<th scope="col">등록자</th>
								<th scope="col" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">삭제</th>
							</tr>
						</thead>
						<tbody>
							<!-- 조회된 데이터를 출력한다. -->
							 <tr th:each="info, status:${infos.getContent()}">
								<th th:text="${info.id}" scope="row"></th>
								<td>
								<a
								
									th:href="'/info/' + ${info.id}"
									th:text="${info.infoTitle}"> </a>
								</td>
								<td th:text="${info.createBy}"></td>
								<td><button type="button" class="btn btn-primary"
										th:id="${info.Id}" th:value="${info.Id}"
										th:onclick="'javascript:deleteInfo(' + ${info.id} +')'"
										sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
										style="background-color:#FF6168; border:none;">삭제</button>
								</td>
							</tr>
						</tbody>
					</table>

					<!-- 페이징 버튼 ◁ 1 2 3 4 5 ▷ -->
					<!-- start = (현재 페이지 번호/보여줄 페이지 수) * 보여줄 페이지 수 +1, 페이지 시작 번호 -->
					<!-- end = start + (보여줄 페이지 수) -1, 페이지 끝 번호 -->
					<nav style="margin-top: 60px"
    
					
						th:with="start=${(infos.number/maxPage)*maxPage + 1}
			,end=(${(infos.totalPages == 0) ? 1 : (start + (maxPage - 1) < infos.totalPages ? start + (maxPage - 1) : infos.totalPages)})"
						aria-label="Page navigation example">
						<ul class="pagination d-flex justify-content-center">
							<li class="page-item" th:classappend="${infos.first}?'disabled'">
								<a class="page-link"
								th:onclick="'javascript:page(' + ${infos.number - 1} +')'">이전</a>
							</li>
							<li class="page-item"
								th:each="page: ${#numbers.sequence(start, end)}"
								th:classappend="${infos.number eq page-1}?'active':''"><a
								class="page-link" th:inline="text"
								th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a>
							</li>
							<li class="page-item" th:classappend="${infos.last}?'disabled'">
								<a class="page-link"
								th:onclick="'javascript:page(' + ${infos.number + 1} +')'">다음</a>
							</li>
						</ul>
					</nav>

	
				</form>
			</div>
		
		</div>
</div>

</div>


<th:block layout:fragment="script">
	<script th:inline="javascript">
		function deleteInfo(infoBoardId) {
			const deleteConf = confirm("삭제하시겠습니까?");
			if (!deleteConf)
				return; //취소버튼 누르면

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			
			// header 변수의 값 확인
	        console.log("Header:", header);

	        if (header === undefined) {
	            console.error("Header is undefined.");
	            return;
	        }
			
			var url = "/adminInfo/" + infoBoardId + "/delete";

			$.ajax({
				url : url, //request url
				type : "DELETE", //전송방식
				contentType : "application/json",
				beforeSend : function(xhr) {
					//데이터 전송 전에 헤더에  csrf값을 설정. 
					xhr.setRequestHeader(header, token);

				},
				dataType : "json",
				cache : false,
				success : function(result, status) {
					location.href = '/admin';

				},
				error : function(jqXHR, status, error) {
					if (jqXHR.status == '401') {
						alert('로그인 후 이용해주세요.');
						location.href = '/member/memberLoginForm';
					} else {
						alert(jqXHR.responseText);
					}
				}
			});
		}
	</script>
</th:block>
</html>